<?xml version="1.0"?>
<config>
    <modules>
        <Komplizierte_JsConfig>
            <version>1.0.0</version>
        </Komplizierte_JsConfig>
    </modules>
    <frontend>
        <layout>
            <updates>
                <jsConfig_layout>
                    <file>komplizierte/jsconfig.xml</file>
                </jsConfig_layout>
            </updates>
        </layout>
    </frontend>
    <global>
        <events>
            <controller_front_send_response_before>
                <observers>
                    <komplizierte_jsconfig>
                        <type>singleton</type>
                        <class>komplizierte_jsconfig/observer</class>
                        <method>fillConfig</method>
                    </komplizierte_jsconfig>
                </observers>
            </controller_front_send_response_before>
        </events>
        <helpers>
            <komplizierte_jsconfig>
                <class>Komplizierte_JsConfig_Helper</class>
            </komplizierte_jsconfig>
        </helpers>
        <models>
            <komplizierte_jsconfig>
                <class>Komplizierte_JsConfig_Model</class>
            </komplizierte_jsconfig>
        </models>
    </global>
</config>
